# My notebook

This booklet contains a brief introduction to the main elements used in data science with the R or Python languages, as well as the creation of Markdown cells and code. It is part of the introductory course on data science.

### Languages used in Data Science:
1. Python
2. R
3. SQL
4. Java
5. Scala

### Data Science Libraries:
- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn

| Tools             | Type              |
|-------------------|--------------------|
| RStudio           | IDE                |
| Jupyter Notebook  | IDE / Visualizaci√≥n |
| Apache Spark      | Procesamiento Big Data |
| TensorFlow        | Machine Learning    |

### Some examples of arithmetic expressions:

In [2]:
3 + 5

8

In [3]:
 10 / 2

5.0

In [4]:
7 * 8

56

In [5]:
12 - 4

8

# Addition and multiplication

In [6]:
a = 4
b = 6
suma = a + b
producto = a * b
print("Suma:", suma)
print("Producto:", producto)

Suma: 10
Producto: 24

# Conversion from minutes to hours

In [7]:
minutos = 150
horas = minutos / 60
print("Horas:", horas)

Horas: 2.5

# Goals

In [11]:
Goals = [
    "Learning the basics of Data Science",
    "Getting familiar with common tools",
    "Practising arithmetic expressions",
    "Sharing a notebook on GitHub"
]

for i, Obj in enumerate(Goals, start=1):
    print(f"{i}. {Obj}")

1. Learning the basics of Data Science
2. Getting familiar with common tools
3. Practising arithmetic expressions
4. Sharing a notebook on GitHub

**Author:** Maria Fernanda Arango Hernandez